* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

h1 {
    text-align: center;
}

#main-text {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    
}


img {
    width: 112px;
    float: left;
    
    
}

.rettangoli {
    display: inline-block;
    width: 33%;
    border: 5px solid rgb(247, 245, 245);
    margin-bottom: 50px;
    background-color: rgba(15,14,23,255);
   border-radius: 3px;
    
}

.col {
    padding-left: 8rem;
    position: relative;
    bottom: 10px;
    color: white;
}