* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

h1 {
    text-align: center;
}

#main-text {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    
}


img {
    width: 111px;
    float: left;
    
    
}

.rettangoli {
    display: inline-block;
    width: 33%;
    
}

.col {
    padding-left: 7rem;
    padding-bottom: 7rem;
    position: relative;
    bottom: 10px;
}