* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'fredoka One', sans-serif;
}

header{
    margin-bottom: 50px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: rgba(229,49,112,255);
    font-size: 40px;
    font-weight: 20px;
}
.paragrafo {
    margin-bottom: 50px;
}

#main-text {
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: auto;
    
}


img {
    width: 112px;
    float: left;
    
    
}

.rettangoli {
    display: inline-block;
    width: 30.3%;
    /* border: 5px solid rgb(247, 245, 245); */
    margin-bottom: 40px;
    background-color: rgba(15,14,23,255);
    /* border-radius: 3px; */
    margin-right: 20px;
    margin-left: 10px;
    font-size: 14px;
    box-shadow: 10px 10px 5px rgb(211, 211, 211)
}

.rettangoli::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    padding-left: 8rem;
    position: relative;
    bottom: 5px;
    color: white;
}

